* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(#c44ca6, beige) fixed;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: monospace;
}

#content-ul {
  font-size: 17.3px;
  display: block;
  margin: auto;
  padding-top: -100px;
  padding-left: 400px;
}

section div {
  /* width: 33.33%; */
  display: inline;
  padding: 80px;
  float: left;
  padding-bottom: -20px;
}

section div img {
  max-width: 250px;
  height: 250px;
  border: 5px solid #a30000;
  cursor: pointer;
  transition: 0.8s;
}



h1 {
  color: #000000;
  transition: 0.8s;
}

#element {
  display: block;
  margin: auto;
  /* padding-top: 220px; */
}